body {
    margin: 0;
}

h1 {
    font-family: kon-tiki-aloha-jf, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 200px;
    margin: 0;
}

h2 {
    font-family: kon-tiki-aloha-jf, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 100px;
    margin: 0;
}

h3 {
    font-family: kon-tiki-aloha-jf, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    margin: 0;
}

p {
    font-family: "futura-pt", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 30px;
}

.font-size-200 {
    font-size: 200px;
}


/*/indispensable/*/

.d-flex {
    display: flex;
}

.text-aling {
    text-align: center;
}

.justify-center {
    justify-content: center;
}

.margin-auto {
    margin-left: auto;
    margin-right: auto;
}
.margin-auto-vertical {
    margin-top: auto;
    margin-bottom: auto;
}

.justify-between {
    justify-content: space-between;
}

.margin-R-30 {
    margin-right: 150px;
}

.margin-L-110 {
    margin-left: 110px;
}

/*/HEADER/*/

.relative {
    position: relative;
}

#absolute {
    position: absolute;
    background-color: #D9EC8F;
    width: 65%;
    height: 140%;
    border-radius: 50%;
    top: -200px;
    left: -150px;
    text-align: left;
    z-index: -1;
}

#absolute:hover {
    background-color: #E9F4B8;
}

#absolute-bleu {
    position: absolute;
    background-color: #8FECE9;
    width: 65%;
    height: 140%;
    border-radius: 50%;
    top: -50px;
    left: -350px;
    text-align: left;
    z-index: -1;
}

#absolute-bleu:hover {
    background-color: #BEF4F1;
}

#absolute-vert {
    position: absolute;
    background-color: #8FECBB;
    width: 50%;
    height: 180%;
    border-radius: 50%;
    top: -121px;
    left: 949px;
    text-align: left;
    z-index: -1;
}

#absolute-vert:hover {
    background-color: #B3F4D1;
}

/*/section 1/*/

.projet-buble {
    width: 80%;
}

.width-45 {
    width: 45%;
}

.hover-img:hover{
    transition-delay: 100ms;
    border-radius: 900px;
    box-shadow: 0px 0px 55px -3px rgba(0,0,0,0.1);

}

.img-100 {
    margin: 0;
    width: 100%;
}


/*/ footer /*/

.text-end {
    text-align: end;
}

.page-insta{
    margin-left: 186px;
    margin-top: -452px;
    width: 5px;
    height: auto;
}

.footer-contact {
    background-color: #8FECBB;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
}


/*/Menu/*/
.container {
    position: relative;
    position: fixed;
  }


  .aling {
    align-items: flex-end;
  }
  
  .rectangle {
    position: fixed;
    transform: translateY(50%);
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    top: 0;
    right: 0;
    width: 83px;
    height: 550px;
    background-color: #FFD7D8;
  }
  
  .circle-3 {
    position: absolute;
    top: -308px;
    right: -1868px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color:  #D9EC8F;
  }

  .circle-3:hover {
    background-color: #ECA28F;
    box-shadow: inset -1px 3px 8px 5px #EC8F93, 2px 5px 16px 0px #EC8F93, -14px 50px 0px 16px rgba(0,0,0,0);
  }

  .circle-2 {
    position: absolute;
    top: -146px;
    right: -1868px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #8fece9;
  }
  .circle-2:hover {
    background-color: #ECA28F;
    box-shadow: inset -1px 3px 8px 5px #EC8F93, 2px 5px 16px 0px #EC8F93, -14px 50px 0px 16px rgba(0,0,0,0);
  }

  .circle {
    position: absolute;
    top: 7px;
    right: -1868px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #8FECBB;
  }
  .circle:hover {
    background-color: #ECA28F;
    box-shadow: inset -1px 3px 8px 5px #EC8F93, 2px 5px 16px 0px #EC8F93, -14px 50px 0px 16px rgba(0,0,0,0);
  }

  .emoji-mon-parcours{
    top: -316px;
    right: -1786px;
  }

  .text-menu{
    font-family: kon-tiki-aloha-jf, sans-serif;
    font-style: normal;
    font-weight: 550;
    font-size: 20px;
    color: black;
  }

